<html>
    <head>
        {{ encore_entry_script_tags('app-shop-entry', null, 'app.shop') }}
    </head>
    <body>
        <div id="greeting" data-greeting="{{ greeting }}">Loading...</div>
    </body>
</html>
